@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-stroke-1 {
  -webkit-text-stroke: 1.2px #30619b;
}

.text-stroke-icon {
  -webkit-text-stroke: 1.1px #000000;
}

.text-stroke-sm {
  text-shadow: 1.2px 1.2px 0 #000000, -1px -1.2px 0 #000000,
    0.21px -1.2px 0 #000000, -1.2px 1.2px 0 #000000, 1.2px 1.2px 0 #000000;
}
